@use "../base/variables";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), 
              url("..//assets/img/heroe.jpeg");
  background-size: cover;
  background-position: center;
  height: 90vh; // Un poco más alto para que impacte más
  
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    animation: fadeInUp 1s ease-out forwards;

    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

.hero-btn {
  background-color: variables.$color-primario;
  border-radius: 50px; // Bordes redondeados se ven más modernos en fitness
  padding: 15px 40px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); // Efecto "elástico"

  &:hover {
    transform: translateY(-5px); // Sube más
    box-shadow: 0 10px 20px rgba(variables.$color-primario, 0.4); // Brillo del mismo color que el botón
    letter-spacing: 2px; // Se expande un poco el texto
  }
}
}